// Brand Colors (from custom.css)
$color__purple: #612A60;
$color__berry: #AD2C4C;
$color__gold: #EDAA16;
$color__orange: #DB4927;
$color__gray: #8C8279;
$color__light-gray: #D8D3D1;
$color__off-white: #F6F4F3;

// Original theme colors
$color__primary: $color__berry;
$color__primary-dark: darken($color__berry, 10%);
$color__secondary: $color__purple;
$color__secondary-light: #eef7fa;
$color__secondary-dark: darken($color__purple, 10%);
$color__success: #4cbb87;
$color__warning: $color__orange;
$color__error: #ee001d;
$color__bg-body: $color__off-white;

// Grayscale
$color__black: #333;
$color__gray-33: #555;
$color__gray-40: #666;
$color__gray-47: #777;
$color__gray-60: #999;
$color__gray-67: #aaa;
$color__gray-80: #ccc;
$color__gray-87: #ddd;
$color__gray-93: #ececec;
$color__gray-95: #f3f3f3;
$color__white: #fff;

//Applications
$color__headings: $color__black;
$color__main-text: #111;
$color__secondary-text: $color__gray;
$color__buttons: $color__berry;
$color__icons: $color__berry;
$color__link: $color__berry;
$color__menu-drawer: $color__secondary-dark;
$color__hr: $color__gray-93;
$color__light-bg: $color__off-white;
$color__disabled: $color__gray-80;
