$color__primary: #e77f11;
$color__primary-light: #f39f1b;
$color__secondary: #394f68;
$color__secondary-light: #eef7fa;
$color__secondary-dark: #36475a;
$color__accent: #cd700f;
$color__success: #4cbb87;
$color__warning: #ff5c00;
$color__error: #ee001d;
$color__bg-body: #fff;

// Grayscale
$color__black: #333;
$color__gray-33: #555;
$color__gray-40: #666;
$color__gray-47: #777;
$color__gray-60: #999;
$color__gray-67: #aaa;
$color__gray-80: #ccc;
$color__gray-87: #ddd;
$color__gray-93: #ececec;
$color__white: #fff;

// Color Tags
$color__tag-1: #f6e7ff;
$color__tag-2: #eed1ff;
$color__tag-3: #e7edff;
$color__tag-4: #bfcfff;
$color__tag-5: #9fadff;
$color__tag-6: #fff1e6;
$color__tag-7: #fdd9bc;
$color__tag-8: #ffefc7;
$color__tag-9: #ffe299;
$color__tag-10: #ffce4f;
$color__tag-11: #fee1dc;
$color__tag-12: #ffc8c8;
$color__tag-13: #ffe3fe;
$color__tag-14: #fbc5f9;
$color__tag-15: #ff9afb;
$color__tag-16: #e1f5dc;
$color__tag-17: #b9f1ab;
$color__tag-18: #fffacb;
$color__tag-19: #fef392;
$color__tag-20: #ffec3e;
$color__tag-21: #cdf4fa;
$color__tag-22: #a6dfff;
$color__tag-23: #c6faea;  
$color__tag-24: #9cffe1;
$color__tag-25: #5affcb;

//Applications
$color__headings: $color__black;
$color__main-text: $color__gray-40;
$color__buttons: $color__primary;
$color__icons: $color__primary-light;
$color__link: $color__secondary;