$font__headings: "Noto Serif", serif;
$font__body: "Open Sans", sans-serif;
$font__base-size: 1rem;
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
