.main-nav {
	display: block;

	.navigation { //main ul
		list-style: none;
		display: flex;
		margin-bottom: 0;
		padding-left: 0;
		margin-left: 0;

		.main-header--inline & {
			margin-right: -15px;
		}
	
		> li { //main menu items
			cursor: pointer;

			&:hover {
			
				> ul { //mega menu hover
					opacity: 1;
					height: auto;
				}
			}
	
			&:hover a::after,
			&.focus a::after {
				transform: scale(1);
			}

			&.active {
				> a{ //main menu items links (active)
					font-weight: 600;

					&::after { //active link underline
						content: "";
						position: absolute;
						height: 1px;
						width: 100%;
						background: $color__buttons;
						bottom: 0;
						left: 0;
						right: 0;
						margin: auto;
						transform: scale(1);
					}
				}
			}

			> a { //main menu items links
				color: $color__buttons;
				display: block;
				text-decoration: none;
				padding-top: 0.3rem;
				padding-bottom: 0.3rem;
				margin: 30px 15px;
				position: relative;

				.main-header--center & {
					margin: 20px 15px;
				}

				&::after { //link underline (hidden)
					content: "";
					position: absolute;
					height: 1px;
					width: 100%;
					background: $color__buttons;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					transform: scale(0);
					transition: all 0.5s ease;
				}
			}

			> ul { //mega menu hidden
				display: flex;
				transition: opacity 0.5s ease-out;
				opacity: 0;
				height: 0;
				overflow: hidden;
				justify-content: center;
				flex-wrap: wrap;
				background-color: $color__secondary;
				box-shadow: inset 0px 3px 0px 0px $color__primary-light;
				position: absolute;
				list-style: none;
				margin: 0;
				width: 100vw;
				left: 0;

				> li { //mega menu columns
					margin: 30px;

					> a { //Links 1st level mega menu
						font-weight: 600;
						margin-bottom: 0.8rem;
					}

					> ul { //2do level columns
						margin-left: 0;
						padding-left: 0;
						list-style: none;

						li { //2do level links
							margin-bottom: 5px;

							ul {
								margin-left: 0;
								padding-left: 25px;
							}
						}
					}
				}

				a { //all mega menu links
					color: $color__secondary-light;
					text-transform: none;
					text-decoration: none;
					font-size: 0.94rem;
					transition: color 0.5s ease;

					&:hover {
						color: $color__white;
						text-decoration: underline;
					}
					
				}

			}
		}

	}

}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}
