ul,
ol {
	margin: 0;
	padding-left: 1.5rem;
}

ul {
	list-style: none;
}

ol {
	list-style: decimal;
}

li {
	margin-bottom: 0.3rem;

	&:before {
		@include font-awesome;
		content: "\f111" !important;
		font-weight: 600;
		font-size: .4rem;
		color: $color__primary-light !important;
		margin-right: 15px;
	}
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	color: $color__black;
	font-size: $font__h6-sm-size; //18px
	font-weight: 600;

	@media (min-width: $md) {
		font-size: $font__h6-base-size; //30px
	}
}

dd {
	margin: 0 1.5em 1.5em;
}
