ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	color: $color__black;
	font-size: $font__h6-sm-size; //18px
	font-weight: 600;

	@media (min-width: $md) {
		font-size: $font__h6-base-size; //30px
	}
}

dd {
	margin: 0 1.5em 1.5em;
}
