p {
	margin-bottom: 1.5rem;
	margin-top: 0;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__gray-87;
	font-family: $font__pre;
	line-height: $font__pre-base-line-height;
	color: $color__gray-33;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: $font__code;
}

abbr,
acronym {
	border-bottom: 1px dotted $color__secondary-light;
	cursor: help;
}

mark,
ins {
	background: $color__gray-87;
	text-decoration: none;
}

big {
	font-size: 125%;
}
