.main-footer {
    clear: both;
    color: $color__secondary-contrast;
    font-size: 0.875rem;

    &__top {
        background-color: $color__secondary;
        padding: 45px 0 20px;

        @media (min-width: $lg) {
            padding: 75px 0 40px;
        }
    }

    &__top-container {
        display: flex;
        flex-direction: column;
        gap: 60px;

        @media (min-width: $lg) {
            flex-direction: row;
        }

        > div {
            flex-grow: 1;
            margin-bottom: 1rem;
            position: relative;
            
            &:first-child {
                padding-left: 0;
            }

            &:nth-child(2),
            &:nth-child(3) {
                &::before {
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-color: #EEF7FA;
                    margin: auto;
                    position: absolute;
                    top: -30px;
                    left: 0;
                    right: 0;
                    opacity: 0.2;

                    @media (min-width: $lg) {
                        left: -30px;
                        right: auto;
                        top: 0;
                        margin: 0;
                        width: 1px;
                        height: 100%;
                    }
                }
            }
        }

        &.no-menu {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

    &__col1,
    &__col3 {
        text-align: center;

        @media (min-width: $lg) {
            max-width: 30%;
            text-align: left;
        }

        .no-menu & {
            max-width: 600px;
            margin-left: 0;
        }

        .all-columns & {
            @media (min-width: $lg) {
                max-width: 26%;
            }
        }

        .all-columns.menu-depth-2 & {
            @media (min-width: $lg) {
                max-width: 20%;
            }
        }
    }

    &__col1 {

        img {
            max-width: 120px;
        }
    }

    &__col2 {
        display: flex;
        justify-content: center;

        .navigation {
            display: flex;
            align-self: flex-start;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 40px;
            justify-content: center;
            list-style: none;
            margin-bottom: 0;
            margin-left: 0;
            padding-left: 0;
            text-align: center;

            @media (min-width: $md) {
                flex-direction: row;
                text-align: left;
            }

            @media (min-width: $lg) {
                justify-content: flex-start;
            }

            li {
                &::before {
                    content: none !important;
                }
            }

            > li {
                @media (min-width: $md) {
                    max-width: 20%;
                }

                > a { //Links 1st level
                    font-weight: 600;
                    display: block;
                }

                > ul { //2do level columns
                    margin-left: 0;
                    margin-top: 0.8rem;
                    list-style: none;
                    padding-left: 0;

                    li { //2do level links
                        margin-bottom: 5px;

                        ul {
                            margin-left: 0;
                            padding-left: 25px;
                        }
                    }
                }
            }

            a {
                color: $color__secondary-contrast;
                text-transform: none;
            
                &:visited {
                    color: $color__secondary-contrast;
                }
            
                &:hover,
                &:focus,
                &:active {
                    color: $color__secondary-contrast;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
            
        }
    }

    a {
        color: $color__secondary-contrast;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        width: 100% !important;
    }

    hr {
        margin-bottom: 0
    }

    &__bottom {
        background-color: $color__secondary-dark;
        padding: 0 !Important;
    }

    &__bottom-container {
        //display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        text-align: center;

        @media (min-width: $lg) {
            flex-direction: row;
            text-align: left;
        }

        &.has-social-networks {
            justify-content: space-between;
        }
    }

    &__social-network {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-shrink: 0;
        gap: 20px;
        justify-content: center;

        @media (min-width: $lg) {
            order: 1;
        }
    }
    /*&__copyright {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        flex-wrap: wrap; 
        padding: 10px 0;

        span {
            margin-left: 1rem;
        }
    }*/
    &__copyright {
        /* Use Flexbox to manage children layout */
        display: flex;
        justify-content: space-between;
        align-items: center;

        /* Keep the original spacing and width */
        padding: 0 15px;
        margin: 0 auto;
        width: 100% !important;
        
        /* Remove the float properties from the children, as they are now handled by the parent's Flexbox properties */
        > div:first-of-type {
        /* This child will automatically align to the start */
        height: 50px;
        display: flex; /* Use Flexbox here for the span if needed */
        align-items: center;
        }

        span {
        /* You don't need display: table-cell with Flexbox */
        vertical-align: middle; /* This property may not be needed with Flexbox */
        padding-right: 3em;
        }

        > div:nth-of-type(2) {
        /* This child will automatically align to the end */
        height: 50px !important;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        }
    }
}
