.resources-linked {

    &__header {
        display: flex;
        align-items: flex-end;
    }

    &__expand-collapse-btn {
        background-color: transparent;
        color: $color__primary;
        flex-shrink: 0;
        font-size: $font__xs-size;
        font-weight: 600;
        margin-bottom: 1.875rem;
        margin-left: auto;
        padding: 0 0 0 20px;
        text-decoration: underline;

        &:hover,
        &:focus {
            background-color: transparent !important;
            color: $color__primary !important;
        }
    }

    .resource-tag {
        margin-bottom: 0;
    }

    .linked-resource {
        display: flex;
        flex-wrap: nowrap;
        gap: 15px;
        justify-content: space-between;
        padding: 1rem 0;
        border-bottom: 1px solid $color__hr;

        &:last-child {
            border-bottom: none;
        }

        img {
            height: 50px;
            object-fit: cover;
            width: 50px;
        }

        .resource-tags {
            margin-bottom: 10px;
        }
    }

    .resource__thumbnail {
        flex-shrink: 0;
        line-height: 1;
    }
}
