#linked-resources {
    .resource-tag {
        margin-bottom: 0;
    }

    .linked-resource {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.7rem 0;
        border-bottom: 1px solid $color__hr;

        &:last-child {
            border-bottom: none;
        }
    }
}