html, body {
	width: 100%;
    overflow-x: hidden;
}

body {
    padding-top: 133px;

    @media (min-width: $lg) {
        padding-top: 160px;
    }

    &.main-header--center {
        padding-top: 230px;
    }
}

.container {
    @include container;
}

#main-content {
    padding-top: 3rem;
    padding-bottom: 4rem;
}

@import "left-right-sidebar"; 
@import "left-sidebar";
@import "no-sidebar";
@import "right-sidebar";
