html, body {
	width: 100%;
    overflow-x: hidden;
}

body {
    padding-top: 160px;

    &.main-header--center {
        padding-top: 230px;
    }
}

.container {
    @include container;
}

@import "left-right-sidebar"; 
@import "left-sidebar";
@import "no-sidebar";
@import "right-sidebar";
