.regions-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 3rem;
    padding-bottom: 50px;
    border-bottom: 1px solid $color__hr;

    @media (min-width: $md) {
        flex-direction: row;
    }

    .main-region {
        order: -1;
        width: 100%;

        @media (min-width: $md) {
            order: initial;
        }
    }

    .sidebar-region {
        flex-shrink: 0;
        position: relative;
        width: 100%;

        @media (min-width: $md) {
            width: 27%;
        }

        &::after {
            content: "";
            position: absolute;
            width: 1px;
            height: calc(100% + 100px);
            background-color: $color__hr;
            top: -50px;
        }

        &--left {
            &::after {
                right: -30px;
            }
        }
    
        &--right {
            &::after {
                left: -30px;
            }
        }
    }

    &--all {
        flex-direction: column !important;

        @media (min-width: $xl) {
            flex-direction: row !important;
        }

        .main-region {
            order: -1 !important;

            @media (min-width: $xl) {
                order: initial !important;
            }
        }

        .sidebar-region {
            width: 100% !important;

            @media (min-width: $xl) {
                width: 27% !important;
            }
        }
    }
}

// Item page specific layout: media on left, metadata on right
body.item.resource.show .regions-container .main-region .metadata {
    @media (min-width: $md) {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 3rem;
        
        // Media column (contains both embeds and list)
        .media-column {
            flex: 0 0 55%; // Fixed width for media on left
            display: flex;
            flex-direction: column;
            
            .media-list {
                margin-top: 1rem; // Space between embeds and list
            }
        }
        
        // All other metadata content goes on the right
        dl {
            flex: 1; // Take remaining space on right
        }
    }
    
    // On mobile, keep stacked layout with media above metadata
    @media (max-width: #{$md - 1px}) {
        display: block; // Keep normal block layout
        
        .media-embeds {
            margin-bottom: 2rem;
        }
    }
}
